* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontSecondary) !important;

}
html{
  scroll-behavior: smooth;
}
:root {
  --colorPrimary: #e1dfd1;
  --colorButton: #382c1e;
  --colorDetails: #efb810;
  --colorDetails2: #a0873c;
  --fontTitleSection:'Great Vibes', cursive;
  --fontPrimary: "Montserrat", sans-serif;
  /* --fontSecondary: 'Charm', cursive; */
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontTitleSection) !important;
}
.menuDesplegable {
  background-color: var(--colorPrimary);
  border-top: 1px solid var(--colorButton);
  padding: 5px;
  margin-right: 5px;
}
/* Header */
.navDisposition {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navColor {
  background-color: var(--colorPrimary) !important;
}
.navFont {
  font-family: var(--fontTitleSection) !important;
  color: var(--colorButton) !important;
  text-decoration: none;
}
/* Footer */
footer {
  padding: 25px;
  border-top: 1px solid var(--colorButton);

}
.footerArticle{
  background-color: var(--colorPrimary);
  z-index: 1000 !important;
}
.apartadosFooter {
  font-family: var(--fontPrimary) !important;
  margin-top: 5px;
  color: var(--colorButton);
  text-decoration: none;
}
.apartadosFooter:hover {
  color: var(--colorDetails2) !important;
}
.buttonNewsletter {
  background-color: var(--colorButton);
  text-decoration: none;
  color: var(--colorPrimary);
  padding: 5px;
  text-align: center;
  margin: auto 0;
  margin-top: 15px;
  font-family: var(--fontPrimary) !important;
  border-radius: 0px;
  font-weight: 600;
}
.buttonNewsletter:hover {
  color: var(--colorButton);
  background-color: var(--colorDetails2);
  transition: ease-in-out 0.2s;
}
/* Home */
.fotoBackground {
  background-image: url("../images/fotoPortada2.jpg");
  background-size: cover; /* Cubrir todo el div */
  background-position: center; /* Centrar la imagen */
  width: 100%;
  height: 100vh; /* Ajusta la altura según tus necesidades */
  transition:ease-in-out .9s;
}
.fotoPortada {
  width: 100%;
}
.imagen-scroll{
  filter: grayscale(80%);
  transition:ease-in-out .9s
}
.textoFotoPortada{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: none;
  font-weight:bold;
  font-size: 100px !important;
  transition:ease-in-out .9s;
  font-family: var(--fontTitleSection) !important;
  background-color: #a0873c7e;
}
.texto-visible {
  display: block;
}

.fotosHome {
  width: 100%;
}
.secondArticle {
  margin-top: 15px;
}
.nomSeccion {
  font-family: var(--fontPrimary) !important;
  font-weight: 700;
  margin-top: 5px;
  color: var(--colorButton);
  text-decoration: none;
  font-size: 80px !important;
}
.elemSeccion{
  display: none;
  transition:ease-in-out 1.5s;
} 
.elemSeccion:hover .fotosHome {
  filter: grayscale(80%);
  transform: scale(1);
}
.elemSeccionAppear{
  display:block;
}
.tercerArticle {
  background-color: var(--colorPrimary);
}
.btnInstagram {
  background-color: var(--colorButton);
  text-decoration: none;
  color: var(--colorPrimary);
  text-align: center;
  margin: auto 0;
  font-family: var(--fontPrimary) !important;
  font-size: 30px !important;
  padding: 10px;
}
.btnInstagram:hover {
  color: var(--colorButton);
  background-color: var(--colorDetails2);
  transition: ease-in-out 0.2s;
}
.titleRrss {
  font-family: var(--fontPrimary) !important;
  margin-top: 5px;
  color: var(--colorButton);
  text-decoration: none;
  font-size: 50px !important;
}
ul {
  color: white;
  list-style: none;
  text-decoration: none;
}
li > a {
  color: var(--colorButton) !important;
  text-decoration: none;
}

/*Contacto*/
input {
  background-color: var(--colorPrimary) !important;
  padding: 8px;
  margin-top: 25px;
  font-family: var(--fontPrimary) !important;
}
.textareaContact {
  background-color: var(--colorPrimary) !important;
  margin-top: 25px;
}
.buttonContact {
  padding: 8px;
  background-color: var(--colorButton) !important;
  color: var(--colorPrimary) !important;
  font-family: var(--fontPrimary) !important;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px !important;
}
.buttonContact:hover {
  color: var(--colorButton) !important;
  background-color: var(--colorDetails2) !important;
  transition: ease-in-out 0.2s;
}
.infoContact {
  padding: 8px;
  color: var(--colorButton) !important;
  font-family: var(--fontPrimary) !important;
  text-align: start;
}
.titleContact{
  font-size: 50px !important;
}
.divImagenPerfil{
  height: 350px;
}
.imagenPerfil{
  width: 50%;
  height: 100%;
}
.textPerfil{
  font-size:  22px !important;
  font-family: var(--fontPrimary) !important;
text-align: start;
  transition: ease-in-out .5s;
  padding: 10px;
}
.textPerfil:hover{
  background-color: var(--colorPrimary);
  cursor: text;
  padding: 10px;
}
/*Contacto*/

.fotoBackgroundReciclaje{
  background-image: url("../images/reciclaje.jpg");
  background-size: cover; /* Cubrir todo el div */
  background-position: center; /* Centrar la imagen */
  width: 100%;
  height: 100vh; /* Ajusta la altura según tus necesidades */
  transition:ease-in-out .9s;
}
.textDescription{
  text-align: start;
  margin: auto 0;
  font-size:  30px !important;
  font-family: var(--fontPrimary) !important;
  transition: ease-in-out .5s;
}
.textDescription:nth-child(2){
  text-align: end;
}

.textDescription:hover{
  background-color: var(--colorPrimary);
  cursor: text;
}

/* .titleSectionSticky {
  position: sticky;
  top: 0;

} */
.galeria-imagen {
  width: 100%;
  height: 200px;  
  object-fit: cover;
}
.imgGallery{
  background-size: cover;
  background-position: center; 
  width: 100%;
  height: 100vh;
  transition:ease-in-out .9s;
}
.img1{
  background-image: url("../images/reciclaje.jpg");
}
.img2{
  background-image: url("../images/square.jpg");
}
.img3{
  background-image: url("../images/teñido.jpg");
}
.img4{
  background-image: url("../images/reciclaje.jpg");
}

@media (max-width: 450px) {
  .nomSeccion {
    font-size: 40px !important;
  }
  .titleRrss {
    font-size: 20px !important;
  }
  .textButton {
    font-size: 20px !important;
    padding: 10px;
  }
  .btnInstagram {
    padding: 0px;
  }
  .tercerArticle {
    padding: 10px;
  }
  .fotoBackground {
    background-image: url("../images/square.jpg");
  }
  .textoFotoPortada{
    font-size: 55px !important;
  }
  .img1{
    background-image: url("../images/reciclaje.jpg");
  }
  .img2{
    background-image: url("../images/fotoPortada.jpg");
  }
  .img3{
    background-image: url("../images/fotoPortada2.jpg");
  }
}
@media (min-width: 451px) and (max-width: 1080px) {
  .nomSeccion {
    font-size: 50px !important;
  }
  .titleRrss {
    font-size: 20px !important;
  }
  .textButton {
    font-size: 20px !important;
    padding: 10px;
  }
  .btnInstagram {
    padding: 0px;
  }
  .fotoBackground {
    background-image: url("../images/square.jpg");
 /* Ajusta la altura según tus necesidades */
  }
  .textoFotoPortada{
    font-size: 60px !important;
  }
  .img1{
    background-image: url("../images/reciclaje.jpg");
  }
  .img2{
    background-image: url("../images/fotoPortada.jpg");
  }
  .img3{
    background-image: url("../images/fotoPortada2.jpg");
  }
}
